.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px 60px;
  background-color: #ffffff;
  border: 1px solid rgba(39, 39, 39, 0.1);
  border-radius: 5px;
}

.form {
  width: 100%;  
}

.inputWrapper {
  position: relative;
}
